frontend/web/node_modules/
backend/rust_backend/target
backend/rust_backend/.env
.DS_Store
.vscode/    
.env
*.log
.idea/
dist/
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
